.vagrant
*.log

*.idea
*.jar
*.terraform
*.DS_Store
hosts.yml 

.local
credentials.json

# Terraform files
*.tfstate
*.tfstate.backup
*.tfplan
*.terraformrc
terraform.rc
.terraform.lock.hcl

ansible/open-messaging/target